.border {
  border-radius: 6px;
  border: 1px solid #e4e4e7;
}
.displayBox {
  height: 90%;
  width: 100%;
  
}
.table {
  height: 100%;
  width: 100%;
}

.headRow {
  font-family: Inter !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 12px !important;
  text-align: center !important;
  padding: 10px !important;
}
.row {
  font-family: Inter !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 12px !important;
  text-align: center !important;
  padding: 10.5px !important;
  
  
}
.chipRow{
  font-family: Inter !important;
  font-size: 12px !important;
  font-weight: bold !important;
  line-height: 12px !important;
  text-align: center !important;
  padding: 10px !important;
  display: flex!important;
  justify-content: center!important;

}
.success{
 
  background: #DEF7EC;
 
  color: green;

}.failure{
  background: #FDE2E1;
 

  color: red;
}
.upcoming{
  background: #FEF3C7;
  color: #92400F;


}
.chip{
 width: max-content;
height: max-content;
padding: 4px 9px;
border-radius: 20px ;





}

.modal{
 
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}