.modal-content {
  background-color: #fefefe;
  color: black;
  border: 1px solid #888;
  width: 30%;
  height: 90%;
  min-width: 300px;
  border-radius: 6px;
  padding: 25px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modalHeader {
  height: 20%;
  width: 60%;
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}
img {
  height: 100%;
}
.insideModalHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.missionName {
  height: 30%;
  font-size: small;
  font-weight: 600;
  display: flex;
  gap: 10px;
}
.rocketName {
  height: 30%;
  font-size: xx-small;
  font-weight: 400;
  text-align: left;
}

.success {
  background: #def7ec;

  color: green;
}
.failure {
  background: #fde2e1;

  color: red;
}
.upcoming {
  background: #fef3c7;
  color: #92400f;
}
.chipS {
  width: max-content;
  height: max-content;
  padding: 3px 4px;
  border-radius: 20px;
  font-size: x-small;
}

.modalContent {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  margin-bottom: 8px;
}

.row {
  border-bottom: 1px solid #e4e4e7;
  padding: 0px !important;
}
&:last-child td,
&:last-child th {
  border: 0;
  padding: 7.5px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
}

.modal-content-date{
    background-color: #fefefe;
    color: black;
    border: 1px solid #888;
    width: 60%;
    height: 60%;

    border-radius: 6px;
    padding: 2px;

}
.rdrDateDisplayWrapper {
  display: none;
}
.rdrMonthAndYearWrapper{
  display: none;
}
.rdrDateRangePickerWrapper{
  height: 100%;
  width: 100%;
}