* {
  text-align: center;
  box-sizing: border-box;
}



.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
 
  font-size: calc(10px + 2vmin);
  color:  #4B5563;
  ;
  ;
}

.mainBody{
  height: 90vh;
  padding: 60px 160px;
}
