* {
  text-align: center;
  box-sizing: border-box;
}



.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
 
  font-size: calc(10px + 2vmin);
  color:  #4B5563;
  ;
  ;
}

.mainBody{
  height: 95vh;
  padding: 30px 160px;
  display: flex;
  flex-direction: column;
}
.pagination{
  display: flex;
  justify-content: right;
}